.card_container{
    margin-top: 10rem;
 }
 
 .card{
    margin: 0 !important;
     height: 40vh;
     width: 15vw;
     margin: 1rem;
     border-radius: 30px;
     background-color: #fff;
     box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
 }
 .card-img {
     cursor: pointer;
     position: relative; 
     box-sizing: border-box;
     height: 25vh;
     width: 100%; 
     border-radius: 30px 30px 0px 0px;
     display: flex;
     align-items: center;
     justify-content: center;
     object-fit: contain;
 }
 
 .title {
     display: flex;
     margin-left: 1rem;
     margin-top: 1rem;
     margin-left: 1rem;
     margin-left: 1rem;
     justify-content: left;
     color: #212121;
     font-size: 1;
     letter-spacing: -0.015rem;
     font-weight: bold;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     display: -webkit-box;
     -webkit-line-clamp: 1;
     -webkit-box-orient: vertical;
     overflow: hidden; 
     text-overflow: ellipsis;
     text-align: left;
     color: #01161E; 
 }
 
 #text-1 {
     color: #01161E;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     display: -webkit-box;
     font-size: 1.5rem;
     margin-left: 1rem;
     font-weight: normal;
     margin-bottom: 0.5rem; 
 }
 
 
 .text-3{
     display: -webkit-box;
     -webkit-line-clamp: 1;
     -webkit-box-orient: vertical;
     overflow: hidden; 
     text-overflow: ellipsis;
     color: #01161E;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     display: -webkit-box;
     font-size: 0.9rem;
     margin-left: 1rem;
     margin-bottom: 1rem;
     margin-right: 0.5rem;
     font-weight: normal;
     text-align: left;
 }
 
 .card-link{
     text-decoration: none;
     cursor: pointer;
 }

 .category-title{
        font-size: 2rem;
        font-weight: bold;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: #01161E;
        margin-top: 2rem;
 }